.button{
    padding: 8px;
    background-color: red;
    color:wheat;
    font-weight: bold;
    font-family: Arial;
    border: none;
    border-radius: 5px;
}
.name-tag{
    font-weight: bold;
}
.img-friend{
    width: 300px;
}
.image-1{

    display: inline-block;
    align-items: flex-start;
}
#fri{
    color: gray;
    font-weight: bold;
}
.friends-1{
    width: 200px;
    display: inline-block;
}
button{
    display: inline-block;
}
.body2{
    width: 300px;
}
.body1{
    width: 300px;
}